<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
	<link rel="stylesheet" href="/style.css">
	<script src="/urls.js"></script>
</head>
<body>
	<header class="header-fixed">

		<div class="header-limiter">
	
			<h1><a href="/">EmployeeManagement</a></h1>
	
			<nav>
				<a href="/">Home</a>
				<a onclick="create()" class="selected">Create Employee</a>
				
			
			</nav>
	
		</div>
	
	</header>
	

<br>
<br>
	<div class = "container" style="text-align: center;">
		<h1 > Create New Employee </h1>
					<form id="createform" autocomplete="off" th:action="@{/employees}" th:object = "${employee}" method="POST">
						<div class ="">
							<label> Employee First Name </label><br>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							placeholder="Enter Employee First Name" 
							required
							class="field-input"
							/>
						</div>
						
						<div class ="">
							<label> Employee Last Name </label><br>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							placeholder="Enter Employee Last Name" 
							required
							class="field-input"
							/>
						</div>
						
						<div class ="">
							<label> Employee Email </label><br>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							placeholder="Enter Employee Email" 
							required
							class="field-input"
							/>
							<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" ></p>
						</div>

						<div class ="">
							<label> Employee Skills </label><br>
							<input
							type = "text"
							name = "skills"
							th:field = "*{skills}"
							placeholder="ex:python,java"
							required
							class="field-input" 
							/>
						</div>
						<div class ="">
							<label> Employee Doj </label><br>
							<input
							type = "date"
							name = "doj"
							required
							th:field = "*{doj}"
							class ="field-input" 
							/>
						</div>
					
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			
</body>
</html>